description = "Default layout"
==
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="{{ this.page.meta_description }}">
    <meta name="title" content="{{ this.page.meta_title }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ this.page.title }}</title>
    {% styles %}
    <link rel="stylesheet" href="themes/{{ this.theme.id }}/assets/css/app.css">
  </head>
  <body>

    {% page %}

    {% if this.environment == 'dev' %}
      <script src="themes/{{ this.theme.id }}/assets/js-dist/plugins.js"></script>
      <script src="themes/{{ this.theme.id }}/assets/js-dist/app.js"></script>
    {% else %}
      <script src="themes/{{ this.theme.id }}/assets/js-dist/plugins.min.js"></script>
      <script src="themes/{{ this.theme.id }}/assets/js-dist/app.min.js"></script>
    {% endif %}

    {% scripts %}

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
              function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='https://www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>
  </body>
</html>
